.pelicula-container {
    background-color: #222;
    padding: 10px;
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
}

.pelicula-container img {
    width: 100%;
    border-radius: 4px;
    margin-bottom: 10px;
}

.titulo h4 {
    color: white;
    font-size: 16px;
    margin: 10px 0;
}

button {
    background-color: grey;
    color: white;
    border: none;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
}
  
button:hover {
    background-color: grey;
}

.desc p {
    color: grey;
    font-size: 14px;
}

.filtro {
    position: relative;
    left: 50px;
    margin-bottom: 20px;
}

.filtro input {
    position: relative;
    left: 10px;
}

.filtro button {
    position: relative;
    left: 10px;
    margin-top: 20px;
}


@media (max-width: 420px) {

    .filtro {
        flex-direction: column; 
        align-items: flex-start; 
        margin-left: -20px;
    }

    .filtro input,
    .filtro button {
        width: 100%; 
        margin-left: 0; 
        margin-top: 10px; 
    }
}