body {
    background-color: #222;
    color: #fff;
    font-family: 'Helvetica', 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

section {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
}

.lista {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    padding: 20px;
}
  
  
.imagen {
    width: 100%;
    border-radius: 8px;
}
  
.nombre {
    margin: 10px 0;
    text-align: center;
    font-size: 1rem;
}
  
button {
    background-color: grey;
    color: white;
    border: none;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
}
  
button:hover {
    background-color: grey;
}
  
p {
    text-align: center;
    font-size: 1.2rem;
}
  
.cargando {
    text-align: center;
    font-size: 2rem;
    margin-top: 50px;
}

.boton-cargarMas{
    position: relative;
    left: 700px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.noResults {
    margin-top: 100px;
    margin-bottom: 100px;
}