nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #141414;
    width: 100%;
}

.logo {
    height: 100px;
    cursor: pointer;
    border-radius: 100%;
    margin-left: 20px;
}

h1 {
    color: white;
    font-size: 24px;
    font-weight: bold;
    margin-left: 20px;
    text-align: center;
}

ul {
    list-style: none;
    display: flex;
    margin-right: 50px;
}

ul li {
    margin: 0 10px;
}

ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

ul li a:hover {
    color: grey;
}

form {
    display: flex;
    align-items: center;
}

input[type="text"] {
    padding: 8px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
}

button {
    background-color: grey;
    color: white;
    border: none;
    padding: 8px 12px;
    margin-left: 10px;
    cursor: pointer;
}

button:hover {
    background-color: grey;
}

.nombrePagina {
    color: white;
    font-size: 30px;
    text-align: center;
    margin-left: 300px;
}

.titulo {
    color: white;
    margin-top: 30px;
    margin-bottom: 30px;
}

.notFound {
    margin-top: 100px;
    margin-bottom: 100px;
}

.titulo-favs {
    color: white;
    margin-top: 30px;
    margin-bottom: 10px;
}


@media (max-width: 420px) {
    nav {
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    .logo {
        flex-direction: column;
        align-self: center;
        margin-left: 10px;
    }

    h1 {
        font-size: 20px;
    }

    ul {
        flex-direction: column;
        align-self: flex-start;
        margin-right: 0;
        margin-top: 10px;
    }

    ul li {
        margin: 5px 0;
    }

    .nombrePagina {
        margin-left: 0;
        text-align: center;
    }

    .titulo {
        font-size: 20px;
    }

    .notFound {
        margin-top: 50px;
        margin-bottom: 50px;
    }
}