body {
    background-color: #141414;
    color: #fff;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

form {
    display: block;
    margin-top: 20px;
    margin-bottom: 50px;
    position: relative;
    left: 50px;
}

input[type="text"] {
    width: 400px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #444;
    background-color: #333;
    color: white;
    font-size: 16px;
    margin-right: 10px;
}

button {
    background-color: grey;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: grey;
}

button:focus {
    outline: none;
}

section {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.result-busqueda {
    display: grid;
    gap: 20px;
    padding: 20px;
    grid-template-columns: repeat(5, 1fr);
    background-color: #141414;
    margin-bottom: 60px;
}

h2 {
    color: #fff;
    font-size: 28px;
    text-align: center;
    margin-bottom: 20px;
}

p {
    text-align: center;
    font-size: 18px;
    color: #999;
}
