.peliculas-container {
    display: grid;
    gap: 20px;
    padding: 20px;
    grid-template-columns: repeat(5, 1fr);
    background-color: #141414;
    margin-bottom: 60px;
}

.verTodas-container {
    display: grid;
    gap: 20px;
    padding: 20px;
    grid-template-columns: repeat(5, 1fr);
    background-color: #141414;
}

.peliculas-container p {
    color: white;
}

button {
    background-color: grey;
    color: white;
    border: none;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
}

button:hover {
    background-color: grey;
}

.boton-verTodas {
    position: relative;
    left: 488px;
    font-size: 20px;
}

.boton-verTodas:hover {
    background-color: #222;
}

@media (max-width: 420px) {

    .peliculas-container,
    .verTodas-container {
        grid-template-columns: 1fr;
        padding: 10px;
    }

    button {
        width: 100%;
        margin: 10px 0;
    }

    .boton-verTodas {
        left: 50%;
        transform: translateX(-50%);
    }
}